.icon-bar-container{
    display: grid;
    font-size: 2.3em;
    grid-template-columns:repeat(5,1fr);
    grid-template-rows: 1fr;
    grid-gap: 2vw;
    text-align: center;
}
.icon{
    transition: 1s;
    color: #E85A4F;
}
.icon:hover{
    color: #8E8D8A;
    transition: 2s;
}
.resume-link{
    text-decoration: none;
}