.icon-bar-container{
    display: grid;
    font-size: 3em;
    grid-template-columns:repeat(5,1fr);
    grid-template-rows: 1fr;
    grid-gap: 2vw;
    opacity: .7;
    text-align: center;
}
.icon{
    transition: 1s;
}
.icon:hover{
    color: rgb(216, 214, 214);
    transition: 2s;
}