.search-box {
  display: grid;
  grid-gap: 5vh;
  grid-template-columns: repeat(3, 9rem);
  grid-auto-rows: 1fr;
}
.search-box::after {
  content: "";
  width: 0;
  padding-bottom: 100%
}
@media only screen and (max-width:760px){
    .search-box{
        grid-template-columns: repeat(3,5rem);
    }
}



.blog-input{
    font-size: 1em;
    text-align: center;
    border: 3px solid rgb(219, 214, 214);
    border-radius: .5em;
}

.blog-input::placeholder{
    opacity: 0.3;
}
.blog-input:focus{
    outline: 0;
    border:4px solid rgba(233, 128, 116, 0.801);

}


.blog-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: 1s;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.blog-box:hover{
  transition: 1s;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.523),
    0 10px 10px -5px rgba(0, 0, 0, 0.585);
}
