.portfolio-text{
  font-weight: bold;
  
}
.portfolio {
  text-align: center;
}


.portfolio-grid {
  display: grid;
  grid-gap: 5vh;
  grid-template-columns: repeat(3, 9rem);
  grid-auto-rows: 1fr;
}


@media only screen and (max-width:760px){
    .portfolio-grid{
        grid-template-columns: repeat(3,5rem);
    }
}


.portfolio-grid::after {
  content: "";
  width: 0;
  padding-bottom: 100%;
}

.portfolio-box {
  font-size: 2vh;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: 1s;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.portfolio-box:hover {
  transition: 1s;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.523),
    0 10px 10px -5px rgba(0, 0, 0, 0.585);
}

.modal-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.grid-animate{
  animation: flickerAnimation 1.5s infinite;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  12.5%   { opacity:.75; }
  25% {opacity: .5}
  37.5% {opacity: .25}
  50%  { opacity:0; }
  67.5%  { opacity:.25; }
  75% { opacity:.5}
  87.5% { opacity:.75}
  100% { opacity:1; }
}
