.modal-grid{
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
}

.image-container{
  grid-row: 4;
  display: flex;
  justify-content: center;
}
.github-link-container{
  grid-row: 3;
}

.description-container{
  grid-row: 2;
  text-align: left;
  text-indent: 5%;
}
.title-link-container{
  grid-row: 1;
}

.exit-container{
  display: flex;
  justify-content: flex-end;
}

.modal-box-enter .modal-box-appear {
    opacity: 0;
    transition: all 2s;
  }
  .modal-box-enter-active .modal-box-appear-active {
    opacity: 1;
    transition: all opacity 1s;
  }
  .modal-box-exit {
    opacity: 1;
  }
  .modal-box-exit-active {
    opacity: 0;
    transition: opacity 1s;
  }
  
  .modal-exit-button{
      background-color: #E98074;
      border: none;
      border-radius: 10px;
      color: white;
      height: 2em; width: 7em;
      transition: 1s;
      font-weight: bold;
  }

  .modal-exit-button:hover{
    transition: 1s;
    background-color: #8E8D8A;
  }
  
  .modal-exit-button:focus{
      outline:0;
      background-color: rgb(234, 100, 85);
  }
  
  .production-link {
    color: rgb(234, 100, 85);
    text-decoration: none;
    transition: 1s;
    font-weight: bold;
  }

  .production-link:hover{
    color: rgba(234, 100, 85, 0.249);
    transition: 1s;
  }

.modal-overlay{
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: white;
    padding: 5vh;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);
  overflow-y: hidden;
  overflow: scroll;

}

.modal-overlay:focus{
  outline: 0;
}

.github-link{
  color: rgb(234, 100, 85);
  text-decoration: none;
  transition: 1s;
  font-weight: bold;
}

.github-link:hover{
  color: rgba(234, 100, 85, 0.249);
  transition: 1s;
}

.modal-image{
  width: 100%;
}


