.about-container{
    text-align: center;
}
.bio-container{
    display: flex;
    justify-content: center;
}
.bio-photo{
    background-image: url('https://i.imgur.com/ZTKzqtS.jpg');
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.bio-text{
      color: #8E8D8A;
}

.read-more{
    font-weight: bold;
    color: #E85A4F;
    transition: 1s;
}

.read-more:hover{
    color: #dad7cd;
    transition: 1s;
}

